@model ProjetoModelo.Application.ViewModels.ClienteEnderecoViewModel
@{
       
     <div class="form-group">
        @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rua, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Rua, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Numero, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Numero, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Numero, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Complemento, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Complemento, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Complemento, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bairro, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bairro, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Bairro, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CEP, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.CEP, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.CEP, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstadoId, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownList("EstadoId", (IEnumerable<SelectListItem>)ViewBag.EstadoId, String.Empty, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.EstadoId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CidadeId, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownList("CidadeId", (IEnumerable<SelectListItem>)ViewBag.CidadeId, String.Empty, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.CidadeId, "", new {@class = "text-danger"})
        </div>
    </div>
}
